# Ignore virtual environment
env/

# Ignore Python compiled files
*.py[cod]
__pycache__/

# Ignore database files
db.sqlite3

# Ignore Django migrations
*/migrations/*.pyc
*/migrations/*.pyc

# Ignore IDE-specific files (e.g., VS Code settings)
.vscode/

# Ignore system files
.DS_Store  # macOS
Thumbs.db  # Windows
